.review-text {
  text-align: left;
}

.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: auto;
}

.review-cover {
  max-width: 350px;
  max-height: 350px;
  height: auto;
  margin-bottom: 10px;
}

.review-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.review-title {
  font-size: 2em;
  font-weight: bold;
  margin-right: 10px;
}

.review-rating {
  font-size: 1.5em;
}

.tags-title {
  font-size: 1.5em;
}

.rating-value {
  font-weight: bold;
}

.review-image-container {
  display: flex;
  justify-content: center;
}

.centered-banner {
  text-align: center;
}

.banner-review {
  max-width: 100%;
  height: auto;
  padding-top: 20px;
}

.review-author {
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center; /* Adjust as needed for your layout */
}

.embedded-video-container {
  width: auto; /* Set width to auto to take up the full width of its content */
  max-width: auto; /* Set a maximum width to avoid stretching on larger screens */
  height: auto; /* Let the height adjust automatically based on the aspect ratio */
  margin: 0 auto; /* Center horizontally */
  text-align: center; /* Center the inner content */
}
