.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.album-list {
  list-style-type: none;
  padding: 0;
}

.album-card {
  background-color: #d2d2d2;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: black;
}

.album-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.album-link {
  display: flex;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.album-link:hover {
  color: inherit; /* Ensure the hover color is consistent */
}

.album-cover {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
  filter: drop-shadow(0 0 10px rgb(0, 0, 0));
}

.album-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.album-info h3 {
  margin: 0;
  font-size: 1.5em;
}

.album-info h4 {
  margin: 10px 0 5px;
  font-size: 1.2em;
  color: #555;
}

.album-info p {
  margin: 0;
}

.preview-text {
  font-weight: normal; /* Make the preview text normal (not bolded) */
}

.read-more {
  margin-top: 10px;
  color: black;
}

.read-more:hover {
  color: black;
}

@media (max-width: 768px) {
  .album-card {
    flex-direction: column;
  }

  .album-cover {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .album-info {
    text-align: center;
  }
}
